{
  "sourceDb":      "Server=YOUR_SOURCE_SERVER;Database=YOUR_DB;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=true",
  "destinationDb": "Server=YOUR_DEST_SERVER;Database=YOUR_DB;User Id=sa;Password=YOUR_PASSWORD;TrustServerCertificate=true"
}
